---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2>Job Market Paper</h2>

{% assign jmpapers = site.publications | where: "category", "jmp" %}
{% for p in jmpapers %}

**{{ p.title }}**

{% if p.abstracturl %}
- [Abstract (PDF)]({{ p.abstracturl | relative_url }})
{% endif %}
{% if p.paperurl %}
- [Full Paper (PDF)]({{ p.paperurl | relative_url }})
{% endif %}

{% endfor %}

---

<h2>Working Papers</h2>

{% assign wpapers = site.publications | where: "category", "working" %}
{% for p in wpapers %}

**{{ p.title }}**

{% if p.abstracturl %}
- [Abstract (PDF)]({{ p.abstracturl | relative_url }})
{% endif %}
{% if p.paperurl %}
- [Full Paper (PDF)]({{ p.paperurl | relative_url }})
{% endif %}

{% endfor %}
