---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h2>Job Market Paper</h2>

{% assign papers = site.publications %}
{% for p in papers %}
  <div class="archive__item">
    <h3 class="archive__item-title">{{ p.title }}</h3>

    <ul>
      {% if p.abstracturl %}
        <li><a href="{{ p.abstracturl }}">Abstract (PDF)</a></li>
      {% endif %}
      {% if p.paperurl %}
        <li><a href="{{ p.paperurl }}">Full Paper (PDF)</a></li>
      {% endif %}
    </ul>
  </div>

  {% unless forloop.last %}<hr />{% endunless %}
{% endfor %}
